<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	{% load static %}
	<link type="text/css" rel="stylesheet" href="{% static 'css/login.css' %}">
	<script type="text/javascript" src="{% static 'js/login.js' %}"></script>
</head>

<body>
  
	<div class="loginBox custom-card">
		<h2>login</h2>
		<form action="{% url 'user:login'%}" method="post">
			{% csrf_token %}
			<div class="item">
				<input type="text" required name="username">
				<label for="">userName</label>
			</div>
			<div class="item">
				<input type="password" required name="password">
				<label for="">password</label>
			</div>
			<button class="btn">submit
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</button>
		</form>
		<button class="btn"><a href="{% url 'user:register' %}">register</a>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
		</button>
	</div>
</body>

</html>